.common-container{
    display:grid;
    grid-template-columns: 1000px;
    justify-content:center;
}
.booking-user-name{
    font-weight: 900;margin:46px 0 35px 0;
}
.booking-info{
    display:grid;
    grid-template-columns: 266px 700px 34px;
    justify-content:center;
}
.booking-img{
    width: 246px;height:200px;margin:0 10px;
}
.booking-img>img{
    width: 100%;height: 100%;object-fit: cover;
}
.booking-title{
    color:#448899;margin:0 0 30px 22px;font-weight: 700;
}
.booking-date, .booking-time, .booking-price, .booking-address{
    margin:0 0 20px 22px;line-height: 16px;
}
#booking-delete:hover{opacity: 0.9;cursor: pointer;}
.member-booking-info-title{
    font-size: 19px;font-weight: 700;margin-bottom: 24px;
}
.card-input-title{position:relative;bottom: 30px;}
#name-input, #email-input, #phone-input, #card-input, #expiration-input, #CVV-input{
    box-sizing: border-box;width:200px;height:38px;outline:none;
    border-radius: 5px;margin-bottom: 15px;border: 1px solid #E8E8E8;padding: 10px;
    size:16px;display: inline-block;
}
.notice{font-weight: 700;margin-top: 5px;}
#total-price{font-weight: 700;margin-bottom: 25px;}
.payment{
    justify-items: right;
}
#payment-btn{
    width:175px; height:36px;border: none;
    color:#fff;background-color: #448899;cursor:pointer;
    font-size: 19px;font-weight: 400; border-radius: 5px;
}
#payment-btn:hover{opacity: 0.9;}

/* 警告視窗 */
.alert-BG{
    box-sizing: border-box;position: relative;
    width:250px;height:140px;border-radius: 6px;
    background-color: #fff;opacity: 1;z-index: 30;
    box-shadow: 0px 4px 60px #AAAAAA;
    margin:100px auto;
    display: grid;
    grid-template-columns: 250px;
    justify-content: center;
    -webkit-animation-name: scale;
    -moz-animation-name: scale;
    -webkit-animation-duration: 0.4s;
    -moz-animation-duration: 0.4s;
    animation-name: scale;
    animation-duration: 0.4s
}
.alert-deco{
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    height:10px;border-radius: 6px 6px 0px 0px;
}
.alert-title{
    font-size: 24px;font-weight:900;text-align: center;
    height:50px;line-height: 50px;
}
.alert-close{
    position: absolute;top:24px;right:17px;cursor:pointer;
}
#alert-message{
    height: 80px;
    display:grid;
    place-items:center;
}
.alert-message{
    font-weight: bolder;color:#448899;text-align: center;padding: 10px;
}