@media (max-width:1200px){
    header{
        grid-template-columns: 1fr;
    }
    .logo{
        padding-left: 10px;
    }
    /* index */
    #nav-1{
        grid-template-columns: 500px 1fr;
    }
    #nav-2{
        padding-left: 10px;
    }
    main{
		grid-template-columns: repeat(2, 40%);
	}
    /* attraction */
    #summary{
        grid-template-columns: 1fr 0.75fr;
    }
    #images{
        width:100%;
    }
    #detail{
        display:grid;
        grid-template-columns: 1fr;
        margin: 0px 10px;
    }
}
@media (max-width:1000px){
    /* booking */
    .common-container{
        grid-template-columns: 1fr;margin:0 10px;
    }
    .booking-info{
        grid-template-columns: 266px 1fr 34px;
    }
    /* thankyou */
    .thankyou-container{
        grid-template-columns: 1fr;
    }
}
@media (max-width:600px){
    /* index */
    #nav-1{
        grid-template-columns: 350px 1fr;
    }
    #nav-2{
        padding-left: 10px;
    }
    #keyword-input{
        width:250px;
    }
    main{
		grid-template-columns: 90%;
	}
    /* attraction */
    #summary{
        grid-template-columns: 95%;
    }
    .arrows{
        margin:0px 10px;
        bottom:221px;
    }
    #booking-field{
        margin: 20px 10px 0px 10px;
    }
}
@media (max-width:520px){
    /* index */
    #nav-1{
        grid-template-columns: 1fr;z-index:2;
    }
    #nav-2{
        padding-left: 20px;z-index:2;
    }
    #keyword-input{
        width:230px;
    }
    #welcome{ /* 自由廣場 */
        width:650px;height:320px;
        margin-left: 150px;
        z-index:1;
        position: relative;bottom: 320px;
    }
    /* booking */
    .booking-info{
        grid-template-columns: 1fr;
    }
    .booking-img{
        width: 100%;height:90%;object-fit: cover;margin:0;
    }
    .booking-title, .booking-date, .booking-time, .booking-price, .booking-address{
        margin-left:10px;
    }
    #booking-delete{
        justify-self: right;margin-right: 10px;
    }
}
@media (max-width:360px){
    /* index */
    nav{
        height:280px
    }
    #nav-title{
        margin-top: 65px;margin-bottom: 15px;
    }
    #nav-1{
        grid-template-columns: 1fr;z-index:2;
    }
    #nav-2{
        padding-left: 20px;z-index:2;
    }
    #keyword-input{
        width:230px;z-index:2;
        margin-top: 25px;margin-bottom: 66px;
    }
    #welcome{ /* 自由廣場 */
        width:276px;height:148px;
        margin-left: 148px;
        z-index:1;
        position: relative;bottom: 148px;
    }
    main{
        grid-gap: 15px;
    }
    /* attraction */
    #summary{
        grid-template-columns: 100%;
    }
    #image-field{
        margin: 37px 0px 0px 0px;
    }
    #images{
        width:360px;height:350px;
    }
    .arrows{
        bottom:193px;
    }
    #dotBox{
        grid-template-rows: 18px 18px;
        bottom: 40px;
    }
    #booking-form{
        width:340px;height:302px;
    }
    /* booking */
    .booking-img{
        width: 340px;height:256px;margin:0 10px;
    }
    .booking-title{
        margin-top: 30px;
    }
}
