@media (max-width:1200px){
	header{
        grid-template-columns: 1fr;
    }
    .logo{
        padding-left: 10px;
    }
    #nav-1{
        grid-template-columns: 500px 1fr;
    }
    #nav-2{
        padding-left: 10px;
    }
    main{
		grid-template-columns: repeat(2, 40%);
	}
}
@media (max-width:600px){
	header{
        grid-template-columns: 1fr;
    }
    .logo{
        padding-left: 10px;
    }
    #nav-1{
        grid-template-columns: 350px 1fr;
    }
    #nav-2{
        padding-left: 10px;
    }
    #keywordInput{
        width:250px;
    }
    main{
		grid-template-columns: 90%;
	}
}
@media (max-width:520px){
    #nav-1{
        grid-template-columns: 1fr;z-index:2;
    }
    #nav-2{
        padding-left: 20px;z-index:2;
    }
    #keywordInput{
        width:230px;
    }
    #welcome{ /* 自由廣場 */
        width:650px;height:320px;
        margin-left: 150px;
        z-index:1;
        position: relative;bottom: 320px;
    }
}
@media (max-width:360px){
    nav{
        height:280px
    }
    #navTitle{
        margin-top: 65px;margin-bottom: 15px;
    }
    #nav-1{
        grid-template-columns: 1fr;z-index:2;
    }
    #nav-2{
        padding-left: 20px;z-index:2;
    }
    #keywordInput{
        width:230px;z-index:2;
        margin-top: 25px;margin-bottom: 66px;
    }
    #welcome{ /* 自由廣場 */
        width:276px;height:148px;
        margin-left: 148px;
        z-index:1;
        position: relative;bottom: 148px;
    }
    main{
        grid-gap: 15px;
    }
}