<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/attraction.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/RWD.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/decoration.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <header>
        <div id="header">
            <div class="logo"><b id="refresh">台北一日遊</b></div>
            <div class="item" id="itinerary">預定行程</div>
            <div class="item" id="signinup">登入/註冊</div>
        </div>
        <div class="header-func-bg"></div>
        <div id="signin-hide">
            <div id="signin">
                <div class="func-deco"></div>
                <div class="func-title">登入會員帳號</div>
                <img src="/pic/icon_close.png" class="func-close">
                <form class="func-form" action="/api/user" method="PATCH">
                    <div>
                        <input type="email" placeholder="輸入電子信箱" class="func-input"  name="email">
                    </div>
                    <div>
                        <input type="password" placeholder="輸入密碼" class="func-input"  name="password">
                    </div>
                    <button class="func-btn">登入帳戶</button>
                </form>
                <div class="switch" id="signup-switch"><p>還沒有帳戶？點此註冊</p></div>
            </div>
        </div>
        <div id="signup-hide">
            <div id="signup">
                <div class="func-deco"></div>
                <div class="func-title">註冊會員帳號</div>
                <img src="/pic/icon_close.png" class="func-close">
                <form class="func-form" action="/api/user" method="POST">
                    <div>
                        <input type="text" placeholder="輸入姓名" class="func-input"  name="name">
                    </div>
                    <div>
                        <input type="email" placeholder="輸入電子信箱" class="func-input"  name="email">
                    </div>
                    <div>
                        <input type="password" placeholder="輸入密碼" class="func-input"  name="password">
                    </div>
                    <button class="func-btn">註冊新帳戶</button>
                </form>
                <div class="switch" id="signin-switch"><p>已經有帳戶了？點此登入</p></div>
            </div>
        </div>
        
    </header>
<!--  -->
    <div id="scroll">    
        <div id="summary">
            <div id="image-field">
                <div id="images"></div>
                <div class="arrows">
                    <div id="left-arrow"><img src="/pic/btn_leftArrow.png"></div>
                    <div id="right-arrow"><img src="/pic/btn_rightArrow.png"></div>
                </div>
            </div>
            <div id="booking-field">
                <div id="name"></div>
                <div id="location"></div>
                <div id="booking-form">
                    <div id="form-title">訂購導覽行程</div>
                    <div id="form-desc">以此景點為中心的一日行程，帶您探索城市角落故事。</div>
                    <form id="form" action="/booking" method="POST">
                        <div id="booking-date">選擇日期：</div>
                        <input type="date" id="date-input" name="date">
                        <div id="booking-time">選擇時間：</div>
                        <div>
                            <input type="radio" name="time" value="morning" id="morning" class="time"><label for="morning"></label>
                            <span class="radio-text">上半天</span>
                        </div>
                        <div>
                            <input type="radio" name="time" value="evening" id="evening" class="time"><label for="evening"></label>
                            <span class="radio-text">下半天</span>
                        </div>
                        <div id="fee-title">導覽費用：</div><div class="fee" id="fee-1">新台幣 2000 元</div><div class="fee" id="fee-2">新台幣 2500 元</div>
                        <button id="order-btn">開始預訂行程</button>
                    </form>
                </div>
            </div>
        </div>
        <div id="hr">
            <div id="line"></div>
        </div>
        <div id="detail">
            <div>
                <div id="description"></div>
                <div id="address-title">景點地址：</div>
                <div id="address"></div>
                <div id="transport-title">交通方式：</div>
                <div id="transport"></div>
            </div>
        </div>
<!--  -->
        <footer>COPYRIGHT © 2021 台北一日遊</footer>    
    </div>
<!--  -->
    <script type="text/javascript" src="/script/script.js"></script>
    <script type="text/javascript" src="/script/attraction.js"></script>
</body>
</html>