<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/member.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/attraction.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/RWD.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/decoration.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <header id="header-tag">
        <div id="header">
            <div class="logo"><b id="refresh">台北一日遊</b></div>
            <div class="item" id="itinerary">預定行程</div>
            <div class="item" id="signinup">登入/註冊</div>
        </div>
    </header>
<!--  -->
    <div id="scroll">    
        <div id="summary">
            <div id="image-field">
                <div id="images"></div>
                <div class="arrows">
                    <div id="left-arrow"><img src="/pic/btn_leftArrow.png"></div>
                    <div id="right-arrow"><img src="/pic/btn_rightArrow.png"></div>
                </div>
            </div>
            <div id="booking-field">
                <div id="name"></div>
                <div id="location"></div>
                <div id="booking-form">
                    <div id="form-title">訂購導覽行程</div>
                    <div id="form-desc">以此景點為中心的一日行程，帶您探索城市角落故事。</div>
                    <div id="form">
                        <div id="booking-date">選擇日期：</div>
                        <input type="date" id="date-input">
                        <div id="booking-time">選擇時間：</div>
                        <div>
                            <input type="radio" name="time" value="morning" id="morning" class="time"><label for="morning"></label>
                            <span class="radio-text">上半天</span>
                        </div>
                        <div>
                            <input type="radio" name="time" value="afternoon" id="afternoon" class="time"><label for="afternoon"></label>
                            <span class="radio-text">下半天</span>
                        </div>
                        <div id="price-title">導覽費用：</div><div class="price" id="price-1">新台幣 2000 元</div><div class="price" id="price-2">新台幣 2500 元</div>
                        <button id="booking-btn">開始預訂行程</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="hr">
            <div class="line"></div>
        </div>
        <div id="detail">
            <div>
                <div id="description"></div>
                <div id="address-title">景點地址：</div>
                <div id="address"></div>
                <div id="transport-title">交通方式：</div>
                <div id="transport"></div>
            </div>
        </div>
<!--  -->
        <footer>COPYRIGHT © 2021 台北一日遊</footer>    
    </div>
<!--  -->
    <script type="text/javascript" src="/script/script.js"></script>
    <script type="text/javascript" src="/script/member.js"></script>
    <script type="text/javascript" src="/script/attraction.js"></script>
</body>
</html>