<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- <link href="/css/booking.css" rel="stylesheet" type="text/css" media="all" /> -->
    <link href="/css/RWD.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <header id="header-tag">
        <div id="header">
            <div class="logo"><b id="refresh">台北一日遊</b></div>
            <div class="item" id="itinerary">預定行程</div>
            <div class="item" id="signinup">登入/註冊</div>
        </div>
    </header>
<!--  -->
    <div id="scroll">    
        
        <div id="booking-user-name">你好，{{name}}，待預訂的行程如下：</div>

        <div class="booking-info">
            <div class="booking-img"><img src="https://www.travel.taipei/d_upload_ttn/sceneadmin/pic/11000341.jpg" /></div>
            <div class="booking-title"><b>台北一日遊：</b></div>
            <div class="booking-date">日期：</div>
            <div class="booking-time">時間：</div>
            <div class="booking-fee">費用：</div>
            <div class="booking-address">地點：</div>
        </div>

        <div id="hr">
            <div id="line"></div>
        </div>

        

        <div id="hr">
            <div id="line"></div>
        </div>



        <div id="hr">
            <div id="line"></div>
        </div>


<!--  -->
        <footer>COPYRIGHT © 2021 台北一日遊</footer>    
    </div>
<!--  -->
    <script type="text/javascript" src="/script/script.js"></script>
    <script type="text/javascript" src="/script/member.js"></script>
    <script type="text/javascript" src="/script/booking.js"></script>
</body>
</html>