<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/RWD.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/decoration.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <header>
        <div id="header">
            <div class="logo"><b id="refresh">台北一日遊</b></div>
            <div class="item" id="itinerary">預定行程</div>
            <div class="item" id="signinup">登入/註冊</div>
        </div>
        <div class="header-func-bg"></div>
        <div id="signin-hide">
            <div id="signin">
                <div class="func-deco"></div>
                <div class="func-title">登入會員帳號</div>
                <img src="/pic/icon_close.png" class="func-close">
                <form class="func-form" action="/api/user" method="PATCH">
                    <div>
                        <input type="email" placeholder="輸入電子信箱" class="func-input"  name="email">
                    </div>
                    <div>
                        <input type="password" placeholder="輸入密碼" class="func-input"  name="password">
                    </div>
                    <button class="func-btn">登入帳戶</button>
                </form>
                <div class="switch" id="signup-switch"><p>還沒有帳戶？點此註冊</p></div>
            </div>
        </div>
        <div id="signup-hide">
            <div id="signup">
                <div class="func-deco"></div>
                <div class="func-title">註冊會員帳號</div>
                <img src="/pic/icon_close.png" class="func-close">
                <form class="func-form" action="/api/user" method="POST">
                    <div>
                        <input type="text" placeholder="輸入姓名" class="func-input"  name="name">
                    </div>
                    <div>
                        <input type="email" placeholder="輸入電子信箱" class="func-input"  name="email">
                    </div>
                    <div>
                        <input type="password" placeholder="輸入密碼" class="func-input"  name="password">
                    </div>
                    <button class="func-btn">註冊新帳戶</button>
                </form>
                <div class="switch" id="signin-switch"><p>已經有帳戶了？點此登入</p></div>
            </div>
        </div>
    </header>
<!--  -->
    <div id="scroll">    
        <nav>
            <div></div>
            <div id="nav-1">
                <div id="nav-2">
                    <div id="nav-title">輕鬆享受台北一日悠閒</div>
                    <div id="nav-desc">探索每個角落，體驗城市的深度旅遊行程</div>
                    <div>
                        <input type="text" id="keyword-input" placeholder="輸入景點名稱查詢" />
                        <button id="search"><img id="icon-search" src="pic/icon_search.png" /></button>
                    </div>
                </div>
                <img id="welcome" src="pic/welcome.png" />
            </div>
            <div></div>
        </nav>
<!--  -->
        <main id="main"></main>
<!--  -->
        <footer>COPYRIGHT © 2021 台北一日遊</footer>    
    </div>
<!--  -->
    <script type="text/javascript" src="script/script.js"></script>
    <script type="text/javascript" src="script/load.js"></script>
    <script type="text/javascript" src="script/keyword.js"></script>
</body>
</html>