<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body id="bigBody">
    <header>
        <div></div>
        <div id="header">
            <div class="logo" onClick="window.location.reload()"><b>台北一日遊</b></div>
            <div class="item" id="schedule">預定行程</div>
            <div class="item" id="signinup">登入/註冊</div>
        </div>
        <div></div>
    </header>
    <nav class="nav">
        <input type="text" class="funcInput" id="queryKeyword" placeholder="輸入景點名稱" /><button class="funcBtn" id="queryBtn">查詢</button>
    </nav>
    <main id="main"></main>


    <div id="inner"></div>

    <footer></footer>

    <script type="text/javascript" src="keyword.js"></script>
    <!-- <script type="text/javascript" src="script.js"></script> -->
</body>
</html>