<!DOCTYPE html>
<html lang="zh-Hant-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taipei Trip 台北一日遊</title>
    <link href="css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/member.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/index.css" rel="stylesheet" type="text/css" media="all" />
    <link href="css/RWD.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <header id="header-tag">
        <div id="header">
            <div class="logo"><b id="refresh">台北一日遊</b></div>
            <div class="item" id="itinerary">預定行程</div>
            <div class="item" id="signinup">登入/註冊</div>
        </div> 
    </header>
<!--  -->
    <div id="scroll">    
        <nav>
            <div></div>
            <div id="nav-1">
                <div id="nav-2">
                    <div id="nav-title">輕鬆享受台北一日悠閒</div>
                    <div id="nav-desc">探索每個角落，體驗城市的深度旅遊行程</div>
                    <div>
                        <input type="text" id="keyword-input" placeholder="輸入景點名稱查詢" />
                        <button id="search"><img id="icon-search" src="pic/icon_search.png" /></button>
                    </div>
                </div>
                <img id="welcome" src="pic/welcome.png" />
            </div>
            <div></div>
        </nav>
<!--  -->
        <main id="main"></main>
<!--  -->
        <footer>COPYRIGHT © 2021 台北一日遊</footer>    
    </div>
<!--  -->
    <script type="text/javascript" src="script/script.js"></script>
    <script type="text/javascript" src="script/member.js"></script>
    <script type="text/javascript" src="script/load.js"></script>
    <script type="text/javascript" src="script/keyword.js"></script>
</body>
</html>